<style type="text/css">
#T_acb89 table {
  width: 100vw;
}
#T_acb89_row0_col0 {
  background-color: #084f99;
  color: #f1f1f1;
  border-bottom: 1px double black;
}
#T_acb89_row0_col1 {
  background-color: #3f007d;
  color: #f1f1f1;
  border-bottom: 1px double black;
}
#T_acb89_row0_col2 {
  background-color: #c6dbef;
  color: #000000;
  border-bottom: 1px double black;
}
#T_acb89_row0_col3 {
  background-color: #eeecf4;
  color: #000000;
  border-bottom: 1px double black;
}
#T_acb89_row0_col4 {
  background-color: #bdd7ec;
  color: #000000;
  border-bottom: 1px double black;
}
#T_acb89_row0_col5 {
  background-color: #53258e;
  color: #f1f1f1;
  border-bottom: 1px double black;
}
#T_acb89_row1_col0 {
  background-color: #1460a8;
  color: #f1f1f1;
}
#T_acb89_row1_col1, #T_acb89_row2_col1, #T_acb89_row3_col1, #T_acb89_row4_col1, #T_acb89_row5_col1 {
  background-color: #3f007d;
  color: #f1f1f1;
}
#T_acb89_row1_col2 {
  background-color: #cbdef1;
  color: #000000;
}
#T_acb89_row1_col3 {
  background-color: #fcfbfd;
  color: #000000;
}
#T_acb89_row1_col4 {
  background-color: #bed8ec;
  color: #000000;
}
#T_acb89_row1_col5 {
  background-color: #51228d;
  color: #f1f1f1;
}
#T_acb89_row2_col0 {
  background-color: #0c56a0;
  color: #f1f1f1;
}
#T_acb89_row2_col2, #T_acb89_row3_col2 {
  background-color: #caddf0;
  color: #000000;
}
#T_acb89_row2_col3 {
  background-color: #f5f3f8;
  color: #000000;
}
#T_acb89_row2_col4, #T_acb89_row4_col4 {
  background-color: #bdd7ec;
  color: #000000;
}
#T_acb89_row2_col5 {
  background-color: #52238d;
  color: #f1f1f1;
}
#T_acb89_row3_col0 {
  background-color: #0f5aa3;
  color: #f1f1f1;
}
#T_acb89_row3_col3 {
  background-color: #f8f6fa;
  color: #000000;
}
#T_acb89_row3_col4 {
  background-color: #c1d9ed;
  color: #000000;
}
#T_acb89_row3_col5 {
  background-color: #603e9a;
  color: #f1f1f1;
}
#T_acb89_row4_col0 {
  background-color: #084b93;
  color: #f1f1f1;
}
#T_acb89_row4_col2 {
  background-color: #c7dbef;
  color: #000000;
}
#T_acb89_row4_col3 {
  background-color: #e8e6f2;
  color: #000000;
}
#T_acb89_row4_col5 {
  background-color: #51218c;
  color: #f1f1f1;
}
#T_acb89_row5_col0 {
  background-color: #08306b;
  color: #f1f1f1;
}
#T_acb89_row5_col2 {
  background-color: #b0d2e7;
  color: #000000;
}
#T_acb89_row5_col3 {
  background-color: #b9b9da;
  color: #000000;
}
#T_acb89_row5_col4 {
  background-color: #b5d4e9;
  color: #000000;
}
#T_acb89_row5_col5 {
  background-color: #4a1587;
  color: #f1f1f1;
}
</style>
<table id="T_acb89">
  <thead>
    <tr>
      <th class="blank level0" >&nbsp;</th>
      <th id="T_acb89_level0_col0" class="col_heading level0 col0" >Promoted Features</th>
      <th id="T_acb89_level0_col1" class="col_heading level0 col1" >% of Samples</th>
      <th id="T_acb89_level0_col2" class="col_heading level0 col2" >New Features</th>
      <th id="T_acb89_level0_col3" class="col_heading level0 col3" >% of Samples </th>
      <th id="T_acb89_level0_col4" class="col_heading level0 col4" >Animal Features</th>
      <th id="T_acb89_level0_col5" class="col_heading level0 col5" >% of Samples  </th>
    </tr>
    <tr>
      <th class="index_name level0" >target</th>
      <th class="blank col0" >&nbsp;</th>
      <th class="blank col1" >&nbsp;</th>
      <th class="blank col2" >&nbsp;</th>
      <th class="blank col3" >&nbsp;</th>
      <th class="blank col4" >&nbsp;</th>
      <th class="blank col5" >&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th id="T_acb89_level0_row0" class="row_heading level0 row0" >average</th>
      <td id="T_acb89_row0_col0" class="data row0 col0" >30.8</td>
      <td id="T_acb89_row0_col1" class="data row0 col1" >100.0%</td>
      <td id="T_acb89_row0_col2" class="data row0 col2" >1.7</td>
      <td id="T_acb89_row0_col3" class="data row0 col3" >29.7%</td>
      <td id="T_acb89_row0_col4" class="data row0 col4" >3.0</td>
      <td id="T_acb89_row0_col5" class="data row0 col5" >90.3%</td>
    </tr>
    <tr>
      <th id="T_acb89_level0_row1" class="row_heading level0 row1" >otter</th>
      <td id="T_acb89_row1_col0" class="data row1 col0" >27.8</td>
      <td id="T_acb89_row1_col1" class="data row1 col1" >100.0%</td>
      <td id="T_acb89_row1_col2" class="data row1 col2" >0.4</td>
      <td id="T_acb89_row1_col3" class="data row1 col3" >18.7%</td>
      <td id="T_acb89_row1_col4" class="data row1 col4" >2.8</td>
      <td id="T_acb89_row1_col5" class="data row1 col5" >90.8%</td>
    </tr>
    <tr>
      <th id="T_acb89_level0_row2" class="row_heading level0 row2" >elephant</th>
      <td id="T_acb89_row2_col0" class="data row2 col0" >29.5</td>
      <td id="T_acb89_row2_col1" class="data row2 col1" >100.0%</td>
      <td id="T_acb89_row2_col2" class="data row2 col2" >0.8</td>
      <td id="T_acb89_row2_col3" class="data row2 col3" >24.5%</td>
      <td id="T_acb89_row2_col4" class="data row2 col4" >2.9</td>
      <td id="T_acb89_row2_col5" class="data row2 col5" >90.8%</td>
    </tr>
    <tr>
      <th id="T_acb89_level0_row3" class="row_heading level0 row3" >raven</th>
      <td id="T_acb89_row3_col0" class="data row3 col0" >28.9</td>
      <td id="T_acb89_row3_col1" class="data row3 col1" >100.0%</td>
      <td id="T_acb89_row3_col2" class="data row3 col2" >0.8</td>
      <td id="T_acb89_row3_col3" class="data row3 col3" >22.5%</td>
      <td id="T_acb89_row3_col4" class="data row3 col4" >2.4</td>
      <td id="T_acb89_row3_col5" class="data row3 col5" >84.2%</td>
    </tr>
    <tr>
      <th id="T_acb89_level0_row4" class="row_heading level0 row4" >wolf</th>
      <td id="T_acb89_row4_col0" class="data row4 col0" >31.6</td>
      <td id="T_acb89_row4_col1" class="data row4 col1" >100.0%</td>
      <td id="T_acb89_row4_col2" class="data row4 col2" >1.4</td>
      <td id="T_acb89_row4_col3" class="data row4 col3" >32.4%</td>
      <td id="T_acb89_row4_col4" class="data row4 col4" >2.9</td>
      <td id="T_acb89_row4_col5" class="data row4 col5" >91.1%</td>
    </tr>
    <tr>
      <th id="T_acb89_level0_row5" class="row_heading level0 row5" >dog</th>
      <td id="T_acb89_row5_col0" class="data row5 col0" >36.4</td>
      <td id="T_acb89_row5_col1" class="data row5 col1" >100.0%</td>
      <td id="T_acb89_row5_col2" class="data row5 col2" >4.8</td>
      <td id="T_acb89_row5_col3" class="data row5 col3" >50.4%</td>
      <td id="T_acb89_row5_col4" class="data row5 col4" >4.0</td>
      <td id="T_acb89_row5_col5" class="data row5 col5" >94.4%</td>
    </tr>
  </tbody>
</table>
